.body-layout {
    display: grid;
    grid-template-columns: 1fr var(--main-width) 1fr;
}

.body-layout>* {
    grid-column: 2 / 3;
}

.body-layout header {
    grid-column: 1 / -1;
}

.body-layout footer {
    grid-column: 1 / -1;
}
