.footer-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr var(--main-width) 1fr;
    justify-items: center;

    background: var(--orange1);
    padding: 20px;
}

.footer-container * {
    grid-column: 2/3;
    margin: 0;
}

.footer-container :first-child {
    margin-bottom: 20px;
}

.footer-container ul {
    display: flex;
    gap: 13px;
    margin-top: 20px;
    height: 16px;
    padding: 0;
}

.footer-container a{
    color: black;
}

.footer-container li {
    list-style-type: none;
    cursor: pointer;
}

.footer-logo {
    font-family: 'eurof';
    font-size: 2.3125rem;
}

small {
    font-size: 0.8125rem;
}