.meme-editor{
    /* display: flex; */
    gap: 20px;
}

.meme-editor-layout{
    /* width: 600px;
    height: 600px; */
}

.features-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.features-container *{
    display: flex;
    gap: 3px;
    cursor: pointer;
}

.features-container input, .features-container button, .features-container select{
    background-color: white;
    font-size: 15px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    height: 40px;
}

.features-container select{
    font-weight: bold;
    font-family: 'cursive';
    font-size: 20px;
    width: 60px;
}

.features-container select option{
    font-size: 15px;
}

.features-container button{
    padding: 10px;
    width: 40px;
}

.features-container input:not:first-child{
    width: 40px;
}

.text-input{
    width: 230px;
}

.features-container button a{
    color: black;
}