.meme-editor{
    gap: 30px;
    align-items: center;
}

.features-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.features-container *{
    display: flex;
    gap: 3px;
    cursor: pointer;
}

.features-container input, .features-container button, .features-container select{
    background-color: white;
    font-size: 15px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    height: 40px;
}

.features-container select{
    font-weight: bold;
    font-family: 'cursive';
    font-size: 20px;
    width: 60px;
    transition: all 0.6s;
}

.features-container select:hover{
    background-color: lightgray;
}

.features-container select option{
    font-size: 15px;
}

.features-container button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 40px;
    transition: all 0.6s;
}

.features-container button:hover{
    background-color: lightgray;
}

.features-container input:not:first-child{
    width: 40px;
}

.text-input{
    width: 230px;
}

.features-container button a{
    color: black;
}

.features-container .txt-color , .features-container .stroke-color{
    width: 50px;
}

.features-container .txt-color:hover , .features-container .stroke-color:hover{
    transition: all 0.6s;
    background-color: lightgray;
}

.meme-editor-layout{
    width: 400px;
}