* {
    font-family: 'Montserrat';
}

.hidden {
    display: none;
}

.main-container{
    display: grid;
    justify-content: center;
    background-color: rgb(245, 244, 239);
    box-shadow: inset 0px 0px 6px 5px rgb(255 255 255);
}

.flex{
    display: flex;
}

.hidden{
    display: none;
}