* {
    font-family: 'Montserrat';
}

.hidden {
    display: none;
}

.meme-editor {
    width: 500px;
    height: 500px;
}

body {
    /* cursor: grab; */
}

.logo{
    font-size: 18px;
    font-weight: bold;
}

.main-container{
    display: grid;
    justify-content: center;
    background-color: rgb(245, 244, 239);
}